PORT=5000
NODE_ENV=production

DB_HOST=postgres
DB_PORT=5432
DB_NAME=rechini_village
DB_USER=rechini_user
DB_PASSWORD=change_this_password

JWT_SECRET=change_this_super_secret_key
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:8088
